<%content_for :nav do%>
<%= render :partial => 'common/nav', :locals => {:curr => 'About'} -%>
<%end%>
<%content_for :content do %>
  
  <div class="row">
    <div class="half"><%= image_tag 'me.jpg'%></div>
   <div class="half">
		<nav class="nav-v">
		    <ul>
		        <li><a href="#">Ruby on Rails</a></li>
		        <li><a href="#">JavaScript</a></li>
		        <li><a href="#">CSS</a></li>
		        <li><a href="#">Python</a></li>
		        <li><a href="#">iOS</a></li>
		        <li><a href="#">Riding bike</a></li>
		        <li><a href="#">Playing basketball</a></li>
		        <li><a href="#">Reading</a></li>
		    </ul>
		</nav>
		<blockquote>
		<p>不积跬步，无以至千里。</p>
	</blockquote>
   </div>
  </div>
<% end %>




