<%content_for :menu do%>
<%= render :partial => 'common/menu', :locals => {:curr => 'About'} -%>
<%end%>
<%content_for :content do %>
  <div class="about">
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        
                        <h2 class="post-title">About Me</h2>

                        <div>
                            Pending...
                        </div>
                    </header>
                </section>
  </div>
  
<% end %>




