<p>Welcome <%= @email %>, thanks for registering our website. We will supply some useful info for you later. </p>

<p>You could click the following link and activate your account:</p>

<p><%= link_to 'Activate My Account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

